* {
	margin : 0;
}

body {
	width: 98.68vw;
	height: 100vh;
}

@font-face {
	font-family: "WildFlowerBold";
	src: url('../font/WildFlowerBold.ttf');
}


/*<--- Homepage --->*/

#homepage_img {
	background: url("../images/fdb.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#icon_bar {
	display: none;
}

#barre_menu {
	display: flex;
	align-self: start;
	justify-content: space-between;
	position: fixed;
	width: 98.6vw;
	z-index: 1;
}

#logo {
	font-family: "WildFlowerBold";
	color: #517f41;
	font-weight: bold;
	font-size: 1.5em;
	margin-left: 1%;
}

#menu {
	display: flex;
	justify-content: space-between;
}

.link_color {
	color: #517f41;
	text-decoration: none;
}

a.active {
	text-decoration: underline;
}

a:hover {
	color: #517f41;
}

#div_title {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#div_title_text {
	width: 50vw;
	height: 20vh;
	background-color: #517f417d;
	border: dotted white;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-family: "Dancing Script";
	color: white;
	font-weight: 700;
	font-size: 5em;
}

/*<--- End Homepage --->*/


/*<--- About us --->*/

#about_us {
	min-height: 100vh;
}

h2 {
	font-family:'Courgette', cursive;
	text-align: center;
	font-size: 3em;
	padding-top: 1%;
	padding-bottom: 1%;
	color: #517f41;
}

.aboutus_item {
	text-align: center;
	padding: 5%
	padding-top: 0;
}

.fa-air-freshener, .fa-atom, .fa-envira {
	font-size: 2em;
	color: #517f41;
	opacity: 0.5;
	margin-bottom: 5%;
}

.lorem_one, .lorem_two, .lorem_three {
	text-align: left;
	margin-bottom: 7%;
}

.lorem_one {
	margin-left: 7%;
}

.lorem_three {
	margin-right: 7%;
}

#aboutus_img {
	background: url("../images/bg3.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#aboutus_img_text {
	width: 80vw;
	height: 10vh;
	background-color: #517f417d;
	border: dotted white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1%;
}

#aboutus_img_text>p {
	font-family: "Dancing Script";
	color: white;
	font-weight: 700;
	font-size: 1.5em;
}

/*<--- End About us --->*/


/*<--- Team --->*/

#team {
	min-height: 100vh; 
}

.team_image img {
	width: 100%;
	border-radius: 50%;
	border: 0.7em solid #517f41;
	margin-bottom: 5%;
}

h3 {
	text-align: center;
	font-family: "Courgette";
}

.member>p {
	text-align: center;
}

.team_image {
	position: relative;
}

.green_veil {
	position: absolute;
	background-color: #517f41;
	width: 84%;
	height: 79%;
	border-radius: 50%;	
	top: 9%;
	right: 8%;
	visibility: hidden;
	display: flex;
	opacity: 0.8;
	text-align: center;
	justify-content: center;
	line-height: 2.5;
}

.fa-facebook-f, .fa-twitter, .fa-instagram {
	color: white;
	padding: 8px;
	margin: 10px;
	font-weight: bold;
	font-size: 1.1em;
}
	
.icons {
	position: absolute;
	top: 38%;
	right: 12%;
}

.team_image {
	border-radius: 50%;
}

.team_image:hover .green_veil {
	visibility: visible;
	animation: veil 3s ease-in-out forwards;
}

@keyframes veil {
  from {
	width: 84%;
	height: 0%;	
	top: 9%;
    }
  to {
    width: 84%;
    height: 79%;
    }
}

#slider {
	background: url("../images/bg2.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#slider img {
	width: 100%;
	border-radius: 25%;
}

/*<--- End Team --->*/


/*<!-- Quams -->*/

a>img {
	width: 100%;
	margin-bottom: 8%;
}

/*<!-- Quams -->*/


footer {
	background-color: #517f417d;
	height: 50vh;
	border: dotted white;
	display: flex;
	justify-content: center;
	align-items: center;
}

#end {
	width: 24vw;
	height: 24vh;
	border: dotted white;
	display: flex;
	justify-content: center;
	align-items: center;
}

#end>p {
  animation-duration: 3s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  color: white;
  font-size: 2em;
}


@media (max-width: 768px) {

	#icon_bar {
		display: inherit;
		color: #517f41;
		margin-right: 2%;
		margin-top: 1%;
	}

	#menu {
		display: none;
	}

	#slider img {
		width: 40%;
	}

	.glide__slides {
		text-align: center;
	}
}
