* {
	margin : 0;
}

body {
	width: 98.68vw;
	height: 100vh;
}

@font-face {
	font-family: "WildFlowerBold";
	src: url('font/WildFlowerBold.ttf');
}

/*<--- Homepage --->*/

#homepage_img {
	background: url("images/fdb.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	/*width: 70vw;*/
	height: 100vh;
}

#logo {
	font-family: "WildFlowerBold";
	color: #517f41;
	font-weight: bold;
	font-size: 1.4em;
	margin-left: 0.5%;
}

#barre_menu {
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 1;
}

#menu {
	padding-top: 0.2%;
	margin-right: 1%;
	display: flex;
	justify-content: space-between;
	width: 33%;
}

a.active{
	text-decoration: underline;
}

.link_color {
	color: #517f41;
	text-decoration: none;
}

h1 {
	font-family: "Dancing Script";
	color: white;
	font-weight: 700;
	position: absolute;
	top: 5%;
	left: 30%;
	font-size: 5em!important;
}

#title_div {
	width: 50vw;
	height: 20vh;
	background-color: #517f41;
	opacity: 0.4;
	border: dotted white;
}

#title_content {
	position: absolute;
	margin-left: 25%;
	bottom: 42%;
}

/*<--- End Homepage --->*/


/*<--- About us --->*/

#about_us {
	/*width: 100vw;*/
	height: 100vh;
}

h2 {
	font-family:'Courgette', cursive;
	text-align: center;
	font-size: 3em!important;
	padding-top: 1%;
	padding-bottom: 1%;
	color: #517f41;
}

.container {
	margin: 0!important;
	max-width: 100%!important;
}

.aboutus_item {
	text-align: center;
}

.about_boostrap {
	padding: 2%;
	padding-top: 0.5%;
	padding-bottom: 1%;
}

.fa-air-freshener, .fa-atom, .fa-envira {
	font-size: 2em;
	color: #517f41;
	opacity: 0.5;
	margin-bottom: 5%;
}

.lorem {
	padding-left: 4%;
	text-align: left;
}

#aboutus_img {
	background: url("images/bg3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	width: 99.2vw;
	height: 27.5vh;
	left: -2%;
}

#aboutus_div {
	width: 50vw;
	height: 10vh;
	background-color: #517f41;
	opacity: 0.4;
	border: dotted white;
}

#aboutus_content {
	position: absolute;
	margin-left: 25%;
	bottom: 30%;
}

#aboutus_content>p {
	font-family: "Dancing Script";
	color: white;
	font-weight: 700;
	position: absolute;
	top: 20%;
	left: 30%;
	font-size: 1.2em;
}


/*<--- End About us --->*/


/*<--- Team --->*/

#team {
	height: 100vh; 
}

#team_boostrap {
	margin: 0!important;
}

#team img {
	width: 75%;
	height: 48%;
	border-radius: 50%;
	border: 0.7em solid #517f41;
	margin-left: 10%;
	margin-bottom: 3%;
}

h3 {
	text-align: center;
	font-family: "Courgette";
}

.member>p {
	text-align: center;
}

.green_veil {
	position: absolute;
	background-color: #517f41;
	/*color: black;*/
	width: 50%;
	height: 50%;	
	top: 1%;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	opacity: 0.9;
	text-align: center;
	justify-content: center;
	line-height: 2.5;
}

.detail_veil {
	visibility: hidden;
}

.detail_veil>p {
	font-weight: bold;
}

.team_image>img:hover .green_veil {
	visibility: visible;
	animation: veil 3s ease-in-out forwards;
}

@keyframes veil {
  from {
	width: 100%;
	height: 0%;	
	top: 1%;
    }
  to {
    width: 100%;
    height: 92%;
    }
}

.green_veil:hover .detail_veil {
	animation: details 15s linear;
}

@keyframes details {
  from {
	visibility: hidden;
    }
  to {
  	visibility: visible;
   }
}

.fa-facebook-f, .fa-twitter, .fa-instagram {
	background-color: #517f41;
	color: white;
	border-radius: 30px;
	padding: 8px;
	margin: 10px;
}

/*<--- End Team --->*/
